<?xml version="1.0" encoding="utf-8"?>
<DependencyInjectRegisterConfigContainer>
  <DependencyInjectRegisterConfigs>
    <!--RainHyacinth.Lite-->
    <DependencyInjectRegisterConfig>
      <Assembly>RainHyacinth</Assembly>
      <Type>RainHyacinth.Lite.LiteDependcyInjectRegister</Type>
    </DependencyInjectRegisterConfig>
    <!--WindXinZ.UserBusiness.BLL-->
    <DependencyInjectRegisterConfig>
      <Assembly>WindXinZ.UserBusiness.BLL</Assembly>
      <Type>WindXinZ.UserBusiness.BLL.WindXinZUserBusinessBLLDependencyInjectRegister</Type>
    </DependencyInjectRegisterConfig>
  </DependencyInjectRegisterConfigs>
</DependencyInjectRegisterConfigContainer>